@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.home {
  width: 100%;
  height: 92.5vh;
  background-color: rgb(196, 214, 214);
  display: flex;
  flex-direction: row;
  margin-top: 0;
  line-height: 22px;
  overflow-x: hidden !important;
}

.home-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87%;
}

.main-text {
  line-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 65%;
  width: 70%;
  padding-left: 4rem;
}

.main-text h1 {
  color: black;
  font-size: 50px;
  font-family: "Bungee", cursive;
  font-weight: 200;
  white-space: nowrap;
  letter-spacing: 2px;
  display: inline;
}

.start-now {
  padding-top: 2rem;
}
.start-now button {
  cursor: pointer;
  padding: 1.5rem;
  border: none;
  font-size: 20px;
  color: white;
  background-color: rgb(192, 41, 61);
  border-radius: 30%;
}

button:hover {
  background-color: rgb(158, 9, 29);
}

.second-text {
  width: 100%;
  display: flex;
  text-align: left;
  height: 10%;
  justify-content: flex-end;
}
.text {
  width: 20rem;
}

.second-text q {
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1px;
  color: rgb(41, 48, 54);
}

.home-img {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.home-img img {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .home {
    height: auto !important;
    padding: 5rem 0;
    flex-direction: column;
    width: 100%;
  }
  .home-text {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    height: 90%;
    padding-top: 3rem;
  }
  .main-text h1 {
    font-size: 55px;
  }

  .main-text {
    justify-content: center;
    align-items: center !important;
    text-align: center !important;
    padding: 0;
    width: 70% !important;
  }
  .second-text {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
  }
  .second-text q {
    font-size: 25px;
  }
  .text {
    width: 60% !important;
  }

  .home-img {
    width: 100%;
    height: 30rem;
  }
  .home-img img {
    width: 80%;

    cursor: pointer;
  }
}

@media (max-width: 670px) {
  .home {
    flex-direction: column;
    line-height: 22px;
    padding: 4rem 0 0 0;
  }
  .home-text {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    padding-top: 2rem;
    height: 80%;
  }
  .main-text {
    justify-content: center;
    align-items: center !important;
    text-align: center !important;
    padding: 0;
    width: 70% !important;
  }
  .main-text h1 {
    /* width: 90%; */
    display: inline;
    padding: 0;
    text-align: center;
    font-size: 45px;
  }
  .second-text {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
  }
  .second-text q {
    font-size: 18px;
  }
  .text {
    width: 20rem !important;
  }
  .start-now {
    width: 100% !important;
  }
  .home-img {
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    height: 20rem;
    overflow-y: hidden;
  }
  .home-img img {
    width: 100%;
  }
}
