@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@450&display=swap");
.navbar {
  padding: 0;
  height: 4rem;
  margin: 0;
  z-index: 1;
  width: 100%;
  position: fixed !important;

  background-color: rgba(34, 109, 84, 0.993);
}

nav {
  display: flex;
  height: 100%;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  /* position: static !important; */
  align-items: center;
  padding: 0;
  margin: 0;
}

nav h1 {
  font-size: 33px;
  width: 12rem;
  /* padding-bottom: 0.5rem; */
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  padding-left: 2rem;
  cursor: pointer;
  clear: both;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 43%;
  flex-direction: row;
  list-style: none;
  padding-top: 1rem;
}

.links li {
  color: rgb(29, 43, 38);
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  transition: 0.3s ease-in-out;
}
.links li:hover {
  color: white;
  transition: 0.2s ease-in-out;
}

.menu {
  width: 4%;
  display: none;
}

@media screen and (max-width: 830px) {
  nav h1 {
    padding-left: 0;
    /* padding: 0 10rem 0 0; */
    /* width: 40%; */
  }

  .menu {
    width: 2%;
    display: inline;
    padding-left: 10rem;
    z-index: 1;
  }
  .menu .fa-solid {
    font-size: 25px;
    /* padding-left: 20%; */
  }
  .fa-xmark {
    color: white !important;
    font-size: 30px !important;
    position: fixed;
    top: 1rem;
  }
  .links {
    display: none;
  }

  .links.active {
    display: flex;
    justify-content: space-around !important;
    align-items: center !important;
    flex-direction: column;
    width: 100% !important;
    height: 24rem !important;
    background-color: rgb(34, 109, 84);
    position: fixed;
    margin: 0 !important;
    inset: 0;
    z-index: 1;
    padding: 0 !important;
  }
  .links li {
    font-size: 27px !important;
  }
}

@media (max-width: 567px) {
  .menu {
    padding-left: 2rem;
  }
}
